In [2]:
import tensorflow as tf
tf.__version__

'1.13.1'

In [1]:
import pandas as pd

# Loading our data into dataframe

In [3]:
df_train = pd.read_csv("taxi-train.csv")

In [4]:
df_valid = pd.read_csv("taxi-valid.csv")
df_test = pd.read_csv("taxi-test.csv")

In [5]:
df_train.head()

   12.0  -73.987625  40.750617  -73.971163   40.78518  1  0
0   4.5  -73.963620  40.774363  -73.953485  40.772665  1  1
1   4.5  -73.989649  40.756633  -73.985597  40.765662  1  2
2  10.0  -73.993950  40.727524  -74.006584  40.744240  1  3
3   2.5  -73.950223  40.668960  -73.948112  40.668872  6  4
4   7.3  -73.985110  40.742173  -73.965860  40.759668  4  5

In [6]:
CSV_COLUMN_NAMES = list(df_train)
print(CSV_COLUMN_NAMES)

FEATURE_NAMES = CSV_COLUMN_NAMES[1:] # all but first column
LABEL_NAME = CSV_COLUMN_NAMES[0]

['12.0', '-73.987625', '40.750617', '-73.971163', '40.78518', '1', '0']